<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="images/favicon.ico"  crossorigin="anonymous">
  <nav class="navbar .navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: #ffffff">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a style="color: #000000" href="/">HOME</a></li>                   <!-- redirects to base reference, which is home -->
          <li id="about"><a style="color: #000000" href="/about">ABOUT US</a></li>         <!--  redirects to about reference, which is about -->
          <li id="contact"><a style="color: #000000" href="/contact">CONTACT US</a></li>   <!--  redirects to contact reference, which is contact -->
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
