<%- include('partials/header'); -%>

<h1>Compose</h1>

<form class="item" action="/" method="post">
  <div class="form-group form-group-lg">
    <label class="control-label" >Title</label>
    <input type="text" class="col-sm-12" name="newComposeItemTitle" placeholder="Enter Title" autocomplete="off" required autofocus>
  </div>
  <p></p>
  <div class="form-group form-group-lg">
    <label class="control-label">Post</label>
    <input type="text" id="textboxid" class="col-sm-12"  name="newComposeItemBody" placeholder="Enter Your Text" autocomplete="off" required autofocus>  
  </div>
  <div class="form-group form-group-lg">
    <button type="submit" class="myButton btn btn-primary btn-lg" name="button" >Publish</button>
  </div>
</form>
  
<%- include('partials/footer'); -%>