<%- include('partials/header'); -%>

<h1>Compose</h1>

<form class="item" action="/compose" method="post">
  <div class="form-group form-group-lg">

    <label class="control-label" >Title</label>
    <input type="text" class="form-control col-sm-12" name="postTitle" placeholder="Enter Title" autocomplete="off" required autofocus>
  </div>

  <div class="form-group form-group-lg">
    <label class="control-label">Post</label>
    <input type="text" id="textboxid" class="form-control col-sm-12"  name="postBody" placeholder="Enter Your Text" autocomplete="off" required autofocus>  
    <!-- 
      another option instead of css formatting textboxid class
      <textarea name="Text1" cols="40" rows="5"></textarea> 
    -->
  </div>
  <div class="myButton">
    <button type="submit" class="myButton btn btn-primary btn-lg" name="button" >Publish</button>
  </div>
</form>
  
<%- include('partials/footer'); -%>